{{!-- {{consoleLog user}}

{{consoleLog track}} --}}

<p>Your listening live with {{user.user_name}}</p>

<div class="user-card" id="card-{{track.id}}">
  <p class="user-card__text">{{track.title}}</p>
  <audio autoplay="autoplay" controls id="audio-{{track.content_id}}">
    <source src=" ../../assets/{{track.filename}}#t={{track.current_time_in_track}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>