<section class="page">
  <h2> Tracks</h2>
  {{#each userContent}}
  <div class="user-card" id="card-{{id}}">
    <p class="user-card__text">{{title}}</p>
    <audio controls id="audio-{{id}}"
      ontimeupdate="document.getElementById('tracktime').innerHTML = Math.floor(this.currentTime) + ' / ' + Math.floor(this.duration);">
      <source src="../../assets/{{filename}}#t={{point_of_time}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <span id="tracktime">0 / 0</span>
  </div>
  {{/each}}
</section>